<h1>Show funcionarios</h1>

<p><%= link_to 'Back', new_search_path %></p>


    <br>
    <div class="div">

      <h1><%= @person.nombre %> <%= @person.a_paterno %> <%= @person.a_materno %></h1>

      <p>Puesto simplificado <%= @person.puesto_simplificado %></p>
      <p>Puesto completo <%= @person.puesto_encargo %></p>
      <p>Género <%= @person.genero %></p>
      <p>id serv <%= @person.servidor %></p>
      <p>id <%= @person.id %></p>
      <br>

    </div>

    </div>
