

<h1>Resultados</h1>

<hr>

<% if @search.search_people.empty? %>

    <p>No records found</p>

<% else %>
    <% @search.search_people.each do |c| %>
    <br>
    <div class="separator">

      <h2><%= c.nombre %> <%= c.a_paterno %> <%= c.a_materno %></h2>
      <p>Puesto: <%= c.puesto_encargo %></p>
      <p>Entidad: Ciudad de México</p>

        <%= link_to 'Ver declaraciones', person_path(c.servidor), :class=>"button-gray" %>


    </div>
    <hr>
    <% end %>
<% end %>
