<%= flash[:notice] %>
<h1>Declaraciones fiscales</h1>
<%= link_to "Home", welcome_index_url %>

<%= form_tag fiscals_path, :method => 'get' do%>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<%= link_to "búsqueda avanzada", new_search_path %>

<br>
<p>Por motivos de testing, aquí las últimas 5 declaraciones fiscales</p>
<hr>
<br>
<table>
  <tbody>
    <% @fiscals.each do |fiscal| %>
    <tr>
      <td><%= fiscal.id_declaracion_fiscal %></td>
      <td><%= fiscal.servidor %></td>
      <td><%= fiscal.idApdf %></td>
      <td><%= fiscal.fechaTransmision %></td>
      <td><%= fiscal.nombre %></td>
      <td><%= fiscal.a_paterno %></td>
      <td><%= fiscal.a_materno %></td>
      <td><%= fiscal.genero %></td>
      <td><%= fiscal.puesto_encargo %></td>
      <td><%= fiscal.ingresos %></td>
      <td><%= fiscal.impuesto %></td>
      <td><%= fiscal.fechaPresentacion %></td>
      <td><%= fiscal.totalSueldo %></td>
      <td><%= fiscal.impuestoRetenido %></td>
      <td><%= fiscal.puesto_simplificado %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div>


<h4>Importa</h4>
<%= form_tag import_fiscals_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
  <% end %>

  </div>
